.team {
    display: flex;
    flex-wrap: wrap;
}

.developer {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 1.5rem;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

.developer figcaption {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.developer bio {
    font-size: 0.95rem;
    color: #444;
    margin: 1rem 0;
}

.developer h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #333;
}

.developer ul {
    list-style-type: none;
    padding: 0;
}

.developer li {
    background-color: #f0f0f0;
    margin: 0.3rem 0;
    padding :0.75rem;
    border-radius: 6px;
    text-align: center;
    font-size: 0.9rem;
}

.developer img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
