.team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.developer {
    background-color: #ffffff;
    border-radius: 15px; 
    border: 1px solid #000000; 
    padding: 1.5rem; 
    max-width: 300px;
}

.developer figcaption {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.developer .bio {
    font-size: 1rem;
    color: #000000;
}

.developer h4 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.developer ul {
    list-style-type: none;
    padding: 0;
}

.developer li {
    background-color: #f0f0f0;
    margin: 0.3rem 0;
    padding :0.75rem;
    border-radius: 6px;
    text-align: center;
    font-size: 0.9rem;
}

.developer img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

/*Mobile Screen*/
@media screen and (max-width: 600px) {
    .developer {
        max-width: 100%;
    }

    .developer img {
        margin: auto;
    }
}