.blogs-header {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.blogs-header h1 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.blog-card {
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 25px;
    overflow: visible;
    min-height: 200px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 20px;
    margin-top: 30px;
}

.blog-card img {
    border-radius: 15px;
    margin-right: 25px;
}

.blog-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-header {
    margin-bottom: 15px;
}

.blog-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
    line-height: 1.2;
    color: #333;
}

.blog-meta {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap: 3px;

    margin-top: 0;
    padding-top: 0;
    color: #666;
}

.blog-excerpt {
    margin: 15px 0;
    color: #444;
    line-height: 1.6;
    flex-grow: 1;
}

.blog-tags {
    display: flex;
    gap: 5px;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.blog-tags li {
    display: inline-block;
    background-color: var(--accent);
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.blog-footer a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
}

.blog-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 250px;
}

.blog-tags {
    display: flex;
    gap: 10px;
}

/* Tablet Screen */
@media screen and (max-width: 768px) {
    .blog-card {
        flex-direction: column;
        align-items: stretch;
        min-height: auto;
    }

    .blog-card img {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .blog-image-container {
        width: 100%;
        display: grid;
        place-content: center;
    }
}

/* Mobile Screen */
@media screen and (max-width: 480px) {
    .blog-image-container {
        width: 100%;
    }

    .blog-image-container img {
        margin: auto;
    }

    .blog-content {
        padding: 10px;
    }

    .blog-tags {
        gap: 4px;
    }
}
