
.therapists-section {
    background: #fff;
    border-radius: 25px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 24px;
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
}


.timeSlot-section {
    background: #fff;
    border-radius: 25px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 24px;
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
}


.booking-title {
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 16px;
}



.therapists-section .therapist-avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.therapist {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

    .therapist img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 8px;
    }


.dropdownlist {
    display: block;
    width: 60%;
    max-width: 300px;
    margin: 0 auto 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

.session-info {
    font-size: 1rem;
    text-align: center;
    margin: 16px 0;
    color: #333;
}

.warning {
    display: block;
    width: 60%;
    margin: 8px auto 0;
    text-align: center;
    color: red;
    font-size: 1rem;
    box-sizing: border-box;
}

.Confirmbutton {
    display: block;
    margin: 16px auto 0;
    color: #000;
    background-color: var(--accent);
    border: none;
    padding: 15px 30px;
    border-radius: calc(infinity * 1px);
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.ConfirmMessage {
    display: block;
    width: 60%;
    margin: 8px auto 0;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    box-sizing: border-box;
}
