.feedbackForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    border: 1px solid #000000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.feedbackForm input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 1rem;
}

.feedbackForm label {
        display: block;
        margin-bottom: 0.25rem;
}

.feedbackInfo {
    text-align: center;
    margin-top: 25px;
}

.error {
    color: #f43f5e;
}

textarea {
    font-family: Geist;
}

/*Tablet screen*/
@media screen and (max-width: 900px) {
    .feedbackForm {
        width: 100%
    }
}
