:root {
    --primary: #001e2b; /* Slate Blue */
    --secondary: #00684a; /* Forest Green */
    --accent: #00ed64; /* Spring Green */
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geist";
    src: url("../fonts/Geist.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-underline-offset: 3px; 
    font-family: "Geist"; 
    font-size: 1.125rem;
}

main {
    width: 70%;
    margin: auto;
    background-color: red;
}

header {
    top: 0;
    position: sticky;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: white;
    border-bottom: 1px solid var(--primary);
}
 header ul {
        display: flex;
        gap: 50px;
        list-style: none;
    }

header  a  {
        color: rgba(0, 0, 0, 0.5);
    }

    .active {
        color: black;
        text-decoration: underline;
    }

h1,
h2 {
    font-family: "Merriweather";
}

h1 {
    font-size: 4.5rem;
    line-height: 100%;
    text-align: center;
    padding: 50px;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

button {
    padding: 15px 30px;
    border-radius: calc(infinity * 1px);
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--primary);
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 25px;
}
    footer ul {
        display: flex;
        gap: 50px;
        list-style: none;
    }
 footer a {
            color: black;
        }
 }

.primary-link {
    background-color: var(--accent);
    border: 1px solid var(--primary);
    padding: 15px 30px;
    border-radius: calc(infinity * 1px);
    font-size: 1rem;
    cursor: pointer;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.developer {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 1.5rem;
    width: 300px;
    max-width: 350px;
    margin 20px auto;
    text-align: center;
}

figcaption {
    margin: 0;
}

figcaption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.bio p {
    font-size: 0.95rem;
    color: #444;
    margin: 1rem 0;
}

.tech-skills h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #333;
}

.tech-skills ul {
    list-style-type: none;
    padding 0;
}

.tech-skills li {
    background-color: #f0f0f0;
    margin: 0.3rem 0;
    padding 0.4rem;
    border-radius: 6px;
    font-size: 0.9rem;
}

.team img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}


