.resources-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.resources-grid article {
    background-color: #ffffff;
    padding: 25px;
    margin-top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 20px;
    border-radius: 8px;
    border: 1px solid #000000;
}

    .resources-grid article h3 {
        color: #000000;
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .resources-grid article p {
        margin-bottom: 15px;
        line-height: 1.5;
        color: #666;
    }

    .resources-grid article a {
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        display: inline-block;
    }

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px auto;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.video-box {
    flex: 1 1 45%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .video-box h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
        color: #000;
    }

.video-wrapper {
    width: 100%;
    max-width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    border-radius: 8px;
    overflow: hidden;
    background: #000;
    position: relative;
}

    .video-wrapper iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        position: absolute;
    }

/* Responsive design */
@media (max-width: 900px) {
    .resources-grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .video-container {
        gap: 25px;
        padding: 0 15px;
    }
}

/* Mobile */
@media (max-width: 670px) {
    .resources-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .video-container {
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        padding: 0 10px;
        margin-bottom: 80px;
    }

    .video-box {
        flex: none;
        width: 100%; 
        max-width: 100%
    }
}