.therapist-card {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

    .therapist-card:hover {
        transform: translateY(-5px);
    }

    .therapist-card image {
        width: 200px;
        height: 200px;
        text-align: center;
    }

    .therapist-card content {
        padding: 10px;
        vertical-align: top;
    }

    .therapist-card name {
        margin: 0;
        font-size: 20px;
    }

    .therapist-card description {
        margin: 5px 0;
        line-height: 1.5;
    }

.therapist-card tags {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.therapist-card tags li {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
}

.therapist-card price {
    margin-top: 5px;
    font-weight: bold;
}
