.therapist-card {
    display: flex;
    width: 100%;
    margin: 30px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #000000;
}

.image-cell {
    margin: 10px;
}

.image-cell img {
    border-radius: 15px;
}

.content-cell {
    padding: 10px;
}

.therapist-name {
    margin: 10px 0;
    font-size: 20px;
}

.therapist-description {
    margin: 5px 0;
    line-height: 1.5;
}

.therapist-tags {
    list-style: none;
    margin: 20px 0;
}

.therapist-tags li {
    display: inline-block;
    background-color: var(--accent);
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.therapist-price {
    margin-top: 5px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .therapist-card {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .image-cell {
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .image-cell img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }

    .content-cell {
        width: 100%;
        padding: 10px;
    }

    .therapist-tags li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}
